body{
    background-color: #212529 !important;
}
/* NAVBAR */

.nav-item{
    font-size: 20px;
}

.container-fluid{
    padding-left: 0px !important; 
    padding-right: 0px !important;
} 

.navbar-brand{
    font-size: 30px !important;
}

/* TITLE */

#title{
    background-color: #212529;
    color: #FEFBF6;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    padding-left: 12px;
    padding-top: 100px;
  
}

.firstbox{
    position: relative;
    padding-left: 100px;
    padding-top: 30px;
}

.iphone{
    width: 300px;
    transform: rotate(5deg);
    padding-bottom: 70px;
    transition-duration: 1s;
    position: relative;
    z-index: 1;
}

.iphone:hover{
    transform: rotate(-5deg);
    transition-duration: 1s;
}

.download-button{
    margin-right: 15px;
}

.row{
    --bs-gutter-x: 0rem !important;
}

/* FEATURES */

.container h2{
    color: #FEFBF6;
}

.container{
    margin-top: 200px;
    margin-bottom: 200px;
}

.icon{
    color: #7978FF;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}

.icon:hover{
    color: #B6E388;
    transition-duration: 0.3s;
}

/* MOCUPS */

#mocups-section{
    text-align: center;
    background-color: #212529;
    color: #FEFBF6;
    padding-bottom: 100px;
}

.phone-img{
    width: 250px;
    transition-duration: 1s;
}

.quickdesc{
    padding-bottom: 50px;
}

.mockups{
    padding-top: 10px;
    padding-bottom: 100px;
}

p{
    color: #B2B2B2;
}

.start-img:hover{
    transform: scale(110%);
    transition-duration: 1s;
}

.pick-img:hover{
    transform: scale(110%);
    transition-duration: 1s;
}

.recipe-img:hover{
    transform: scale(110%);
    transition-duration: 1s;
}

/* Food samples */

.look{
    margin-bottom: 40px;
}
#food-samples{
    background-color: #212529;
    color: #FEFBF6;
    text-align: center;
    padding-bottom: 200px;
}

.food-img{
    width: 350px;
    height: 200px;
    border-radius: 8%;
}

.carousel-control-prev-icon{
    position: relative;
    left: 400px;
}

.carousel-control-next-icon{
    position: relative;
    right: 400px;
}

/* PRICING */

#pricing{
    background-color: #212529;
    color: #FEFBF6;
}
.wefree{
    text-align: center;
}
.card{
    width:350px;
    margin: 50px auto 100px;
    float: none;
    transition-duration: 1s;
    
}

.card1{
    margin-right: 10px !important;
}

.card2{
    margin-left: 10px !important;
}

.card:hover{
    transform: scale(110%);
    transition-duration: 1s;
}

.card-header{
    font-size: 25px;
}

.footer-button-1{
    position: relative;
    left: 15px;
}

.footer-button-2{
    position: relative;
    left: 15px;
}

.btn{
    margin-top: 8px;
}

/* Cta */

.cta{
    text-align: center;
    background-color: #212529;
    color: #FEFBF6;
}
.youchoose{
    margin-bottom: 0%;
}

/* Social Media */
#social-media{
    text-align: center;
    background-color: #212529;
    color: #FEFBF6;
    padding: 50px;
}

i{
    text-decoration:none;
    color: #FEFBF6;
 }

.icon-sm{
    padding-left: 15px;
    padding-right: 15px;
}
/* Footer */

.footer{
    text-align: center;
    background-color: #212529;
    color: #FEFBF6;
    padding-bottom: 15px;
}

@media (max-width: 1028px) {
    .iphone {
    
        margin-top: 20px;
        position: static;
        transform: rotate(0);
    }
    .title{
        text-align: center;
    }

    .card1 {
        position: relative;
        right: 130px;
        
    }
}






